.TchatUser {
    padding: 10px;
}
.TchatUser img {
    height:60px;
    display: inline;
}
.TchatUser * {
    vertical-align: middle;
    font-size: 32px;
}
.TchatUser:hover {
    background-color: tomato;
}